# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/

# Project
todo.txt
daily_sales_data.xlsx
db/
excel/

# Specific to VS Code (optional, but good practice)
.vscode/

# Operating System Files
.DS_Store
Thumbs.db

